<nav id="sidebar" class="sidebar" [ngClass]="{'sidebar-bg' : hasBackgroundImage()}">
  <div class="sidebar-content">
    <!-- <perfect-scrollbar>
      <div class="sidebar-header">
        <a style="font-size: 0.87rem;">Gestión de Documentos Electrónicos</a>
      </div>

      <div class="sidebar-profile">
        <div class="user-pic">
          <img class="img-responsive img-rounded" [src]="rutaImagen" alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name" style="font-size: 0.87rem;">
            <strong>{{nombres}}</strong>
          </span>
          <span class="user-role">{{perfil}}</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>
        </div>
      </div>
      
      <div class="sidebar-menu">
        <ul style="font-size: 1.1rem;">
          <li *ngFor="let menu of menus"
            [ngClass]="{'active': menu.active , 'sidebar-dropdown':menu.type === 'dropdown' , 'header-menu':menu.type === 'header'}">
            <span *ngIf="menu.type === 'header'">{{menu.title}}</span>            


            <a [routerLink]="[menu.ruta, menu.id_menu]" *ngIf="menu.type === 'simple'" (click)='toggle(menu)'
              style="width: 260px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
              [pTooltip]="menu.title" tooltipPosition="left">
              <i class="{{menu.icon}}"></i>
              <span>{{menu.title}}</span>
            </a>
            <a *ngIf="menu.type === 'dropdown'" (click)='toggle(menu)'
              style="width: 260px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
              <i [class]="menu.icon"></i>
              <span>{{menu.title}}</span>
            </a>
            <div *ngIf="menu.type === 'dropdown'" class="sidebar-submenu" [@slide]="getState(menu)">
              <ul>
                <li *ngFor="let submenu of menu.submenus">
                  <a [routerLink]="[submenu.ruta, submenu.id_menu]"
                    style="width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 12px; padding-left: 3px;"
                    [pTooltip]="submenu.title" tooltipPosition="left">
                    <i [class]="submenu.icon"></i>
                    {{submenu.title}}
                    <span *ngIf="submenu.badge" class="badge badge-pill"
                      [ngClass]="submenu.badge.class">{{submenu.badge.text}}</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </perfect-scrollbar> -->
  </div>
</nav>