<div class="page-wrapper" [ngClass]="{'toggled' : getSideBarState()}">
  <ng-container *ngIf="isLoggedIn$ | async as isLoggedIn">
    <app-sidebar></app-sidebar>
  </ng-container>
  <main class="page-content">

    <app-header *ngIf="isLoggedIn$ | async as isLoggedIn"></app-header>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
    <div class="overlay" (click)="toggleSidebar()" [ngClass]="{'show' : !getSideBarState()}"></div>
  </main>
</div>

<div *ngIf="isDisplayWaitPermiso$ | async as displayWait">
  <app-mensaje-procesando [displayWait]="true" [mensaje]="'Verificando Permisos'">
  </app-mensaje-procesando>
</div>